<div class="container p-5 ">
  <p>Клініка "ДенталХаус" завжди була та залишається місцем, де надійність і професіоналізм наших лікарів - це наша
    найвища мета. Ми розуміємо, наскільки важливе для вас ваше здоров'я та благополуччя, і робимо все можливе, щоб
    забезпечити найкращу медичну допомогу та найвищий рівень обслуговування.</p>
  <p>Наші спеціалісти - це висококваліфіковані фахівці з бездоганною репутацією в галузі стоматології. Вони постійно
    підвищують свою кваліфікацію, беруть участь у найновіших наукових дослідженнях та впроваджують передові методики
    лікування. Наша команда завжди віддана своїй справі та має глибоке розуміння індивідуальних потреб кожного пацієнта.
  </p>
  <p>Ми також приділяємо велику увагу стандартам безпеки та гігієни. Всі процедури та обладнання в нашій клініці
    відповідають найвищим стандартам і піддаються ретельній стерилізації.</p>
  <p>У нас ви можете бути впевнені, що ваше лікування буде проведене на найвищому рівні. Ми прагнемо зробити ваше
    перебування в клініці "ДенталХаус" комфортним і безпечним, а ваше почуття надійності у нас - абсолютно
    обгрунтованим. Будьте впевнені, що ваша усмішка - в наших надійних руках!</p>
</div>
<h3>Запис на прийом</h3>
<p class="text-center">Доступно тільки на сьогоднішній день</p>
<div class="container w-75 p-2">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Фото</th>
          <th scope="col">Ім'я</th>
          <th scope="col">Прізвище</th>
          <th scope="col">Спеціальність</th>
          <th scope="col">Вік</th>
          <th scope="col">Години прийому</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>
            <img class="doctor-img" src="{{doctor.img}}" alt="img">
          </td>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.surname }}</td>
          <td>{{ doctor.specialty }}</td>
          <td>{{ doctor.age }}</td>
          <td>
            <a [routerLink]="'/freeHours/' + doctor.id" class="btn btn-primary">Вільні години</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>